.row {
    display: flex;
}

.columnOne {
    flex: 50%;
    margin: 15px;
}

.columnTwo {
    flex: 50%;
    margin: 15px;
    margin-top: 72px;
}

.flexRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
