.Btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans";
  width: 134px;
  height: 44px;
  border-radius: 12px;
  opacity: 0px;
  border: none;
  cursor: pointer;
  margin: 25px;
  font-size: 17px;
  font-weight: bold;
  color: white;
}

.BtnInfo {
  background-color: rgba(47, 128, 237, 1);
}

.BtnDanger {
  background-color: rgba(245, 33, 45, 1);
}
