.header {
  width: 100%;
  background: #fff;
  vertical-align: middle;
  padding-left: 20px;
  padding-right: 20px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.menu__username {
  font-size: 15px;
  margin: 5px;
}

.searchbar__container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.searchbar {
  align-self: center;
  width: 400px;
}


