.header {
  width: 100%;
  background: #fff;
  padding: 0 20px;
  display: flex;
  vertical-align: middle;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-right: auto;
}

.notifications {
  margin: 0 10px;
}

.user__profile {
  margin: 0 10px;
}

.user__data {
  margin: 0 5px;
}
