.header {
  width: 100%;
  background: #fff;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__user {
  display: flex;
  align-items: center;
}

.menu__username {
  font-size: 15px;
  margin: 0 5px;
}

.searchbar__container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.searchbar {
  width: 400px;
}
