.formBtn {
  background-color: black;
  color: white;
  padding: 10px 70px 10px 70px;
  border-radius: 12px;
}

.selectRoles {
  width: 120px;
}

.formInput {
  padding: 8px;
  width: 400px;
  height: 40px;
}

.consignorForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.consignorFormSH {
  display: flex;
  flex-direction: column;
}
